

<div class = "container">

  <div class="row mt-5">

    <div class="col-3 mx-3">
      <div class="card" style="width: 18rem;">
        <div class="card-header">
          <%= @user.username %><br>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><%= @user.name %></li>
          <li class="list-group-item"><%= @user.email %></li>
        </ul>
      </div>
    </div>
  
    <div class="col-6 mx-3">
      <%= render partial: "events/list", locals: {events: @user.created_events} %>
    </div>

  </div>
</div>