

<% if events.empty? %>

  <p>No events registered</p>

<% else %>

  <table class="table w-75">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Location</th>
        <th scope="col">Date</th>
        <th scope="col">#Attendees</th>
      </tr>
    </thead>
    <tbody>
      <% events.each do |f| %>
      <tr>
        <th scope="row"><%= link_to f.name, event_path(f.id), class: "text-decoration-none text-dark"%></th>
        <td><%= f.location %></td>           
        <td><%= f.event_on %></td>
        <td>
          <%= f.event_attendings.accepted.count %>
        </td>
      </tr>
    </tbody>
    <% end %>
  </table>

<%end %>
    