
<div class="d-flex align-items-center justify-content-center">

  <h1>Welcome to events</h1>

</div>


  <% if @user %>

    Logged in as: <%= @user.username %>
    <%= button_to "Logout", logout_path, method: :delete %>

  <% end %>


