<h1>Events#show</h1>


<div class="card" style="width: 18rem;" >
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><%= @event.name %></li>
    <li class="list-group-item"><%= @event.location %></li>
    <li class="list-group-item"><%= @event.event_on %></li>
  </ul>
</div>


